[Unit]
Description=Timer to activate swww-change-wallpaper service

[Timer]
Unit=swww-change-wallpaper.service
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target

