[Unit]
Description=Changes active wallpaper to random one in swww dameon

[Service]
Type=oneshot
ExecStart=/home/arsuhinars/.scripts/wallpapers.sh change

