* {
    border: none;
    /* border-radius: 0; */
    font-family: "NotoSans Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: none;
    color: white;
}

tooltip {
    background: rgb(30, 30, 46);
    border: 1px solid rgba(127, 132, 156, 0.8);
    border-radius: 8px;
    opacity: 0.8;
}

tooltip label {
    color: white;
}

.bar,
#clock,
#workspaces,
#idle_inhibitor,
#window,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#battery,
#language,
#tray,
#custom-swaync {
    background: rgba(30, 30, 46, 0.851);
    padding: 4px 6px;
    margin: 4px 0;
}

.bar-start,
#clock,
#workspaces,
#idle_inhibitor,
#window,
#pulseaudio,
#network,
#cpu,
#language,
#tray {
    margin-left: 4px;
    padding-left: 12px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.bar-end,
#clock,
#workspaces,
#idle_inhibitor,
#window,
#backlight,
#network,
#battery,
#language,
#custom-swaync {
    margin-right: 4px;
    padding-right: 12px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#workspaces {
    padding-left: 6px;
    padding-right: 6px;
}

#custom-swaync {
  font-size: 14px;
}

@keyframes warning_blink {
    to {
        color: rgb(230, 126, 34);
    }
}

@keyframes critical_blink {
    to {
        color: rgb(231, 76, 60);
    }
}

#battery.warning:not(.charging) {
    animation-name: warning_blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    animation-name: critical_blink;
    animation-duration: 0.25s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

button {
    transition-property: background-color;
    transition-duration: 0.2s;
    border-radius: 12px;
}

button.active,
#idle_inhibitor.activated {
    background-color: rgba(231, 76, 60, 0.8);
}

button:hover,
#idle_inhibitor:hover {
    background-color: rgb(88, 91, 112);
}

#idle_inhibitor {
    min-width: 16px;
    transition-property: background-color;
    transition-duration: 0.2s;
}
