
@define-color sapphire #74c7ec;
@define-color text #cdd6f4;
@define-color surface_0 #313244;
@define-color base #1e1e2e;

* {
	background-image: none;
}

window {
	background-color: alpha(@base, 0.8);
}

button {
	color: @text;
	background-color: @surface_0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  border-radius: 16px;
  transition: 0.1s;
}

button:hover {
  color: @base;
	background-color: @sapphire;
}

button:focus, button:active, button:hover {
  outline: @sapphire solid 8px;
  -gtk-outline-radius: 16px;
}

#lock {
  background-image: url("icons/lock.svg");
}

#lock:hover {
  background-image: url("icons/lock-active.svg");
}

#hibernate {
	background-image: url("icons/hibernate.svg");
}

#hibernate:hover {
	background-image: url("icons/hibernate-active.svg");
}

#shutdown {
	background-image: url("icons/shutdown.svg");
}

#shutdown:hover {
  background-image: url("icons/shutdown-active.svg");
}

#reboot {
	background-image: url("icons/reboot.svg");
}

#reboot:hover {
	background-image: url("icons/reboot-active.svg");
}
